*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
body{
     width: 100%;
    }



/* ------ ESTILOS DE SUB-SECCIONES + TITULOS + PARRAFOS ------- */

.seccion {
    margin: 20px 20px;
    padding: 20px 0px;    
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    }
.seccion-sb {
    margin: 20px 20px;
    padding: 20px 0px;    
    border-top: 1px solid black;
    text-align: center;
    }

.seccion__titulo {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.5rem;
    color: #dd0443;
}
.seccion__titulo--secundario {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.5rem;
    color: black;
}
.seccion__titulo--grande {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 5rem;
    color: #dd0443;
    border-right:  1px solid black;
}
.seccion__parrafo{
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 1.25em;
}
.seccion__parrafo--secundario{
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 1em;
}



/* MENU DE NAVEGACION */
a.nav-link{
    color: black;
    padding-left: 20px;
}
a.nav-link:hover{
    color: #dd0443;
}
.navbar{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 1px;  
    position: sticky;
    top: -10px;

}

.banner-contenido{
    position: relative;
}
.banner-contenido img{
    position: relative;
    top: 150px;
    left: 50px;
}
.banner-texto{
    position: relative;
    left: 300px;
    max-width: fit-content;
}


@media only screen and (max-width: 767px){
    .navbar{
        background-color: rgb(36, 33, 33);
    }
    a.nav-link{
        color: white;
    }
    .banner-contenido{
        display: none;
    }
    .main1{
        margin-top: 50px;
    }
    #footer{
        flex-direction: column;
    }
    .columna{
        margin-top: 10px;
        justify-content: left;
        align-items: flex-start;
    }
    #encabezado2 {
        background-color: black;
        background-position: end;
        background-image: none;
        background-repeat: no-repeat;
        width: 100%;
        height: 400px;
        position: relative;
     }
     .textoHeader{
        display: none;
    }
    .img-fluid {
        max-width: 50% !important;
        height: auto;
    }
    .seccion-sb__iconos-xl{
        display: none;
    }
   
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
    .navbar{
        background-color: rgb(36, 33, 33);
    }
    a.nav-link{
        color: white;
    }
    .banner-texto{
        display: none;
    }
    .banner-contenido img{
        display: none;
    }

    header{
        height: 600px;
    }
    
    .main1{
        margin-top: 50px;
    }
    #footer{
        flex-direction: column;
    }
    .columna{
        margin-top: 10px;
        justify-content: left;
        align-items: flex-start;
    }
    .caja{
        flex-basis: 400px;
    }
    .seccion-sb__iconos-xl{
        display: none;
    }
    .seccion__titulo--grande {
        font-family: 'Bebas Neue', sans-serif;
        font-size: 3rem;
        color: #dd0443;
    }
}

/* ------- BANNER VERTICAL - INDEX -------*/
.seccion-sb__caja{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin: 20px 20px;
    padding: 0px 20px;
    background-color:  #e3e4e5;
    height: 300px;

}
.seccion-sb__paso{
    flex-basis: 200px;
    text-align: center;


}
.seccion-sb__texto{
    flex-basis: 600px;
    text-align: left;
    padding-left: 30px;
}
.seccion-sb__iconos{
    flex-basis: 300px;
    text-align: center;
}
.seccion-sb__iconos-xl{
    width: 100px;
    
}


/* ----- BANNER HORIZONALES - INDEX - PRODUCTOS --- */
.banner{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
    margin: 20px;
    background-color:  #e3e4e5;
}
.banner-caja{
    flex-basis: 300px;
    text-align: center;
    padding: 15px;
}
.banner-caja__iconos{
    height: 50px;
    width: 50px;
}

.banner-caja__titulo {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
}
.banner-caja__parrafo {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}






/* ------ SECTION SERVICIOS ------ */
.seccion-flex{
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    padding: 30px;
    justify-content: space-around;
    align-items: center;
    border-top: 1px dotted black;

}
.seccion-flex__img{
    flex-basis: 50%;
    height: 300px;
}
.seccion-flex__texto{
    flex-basis: 50%;
    height: 300px;
    align-content: center;
    padding: 10px 20px;

}

.casamiento{
    background-image: url(image/S2.jpg);
    background-size: cover;
    background-position: center;
}
.egreso{
    background-image: url(image/S1.jpg);
    background-size: cover;
    background-position: center;
}
.cumple{
    background-image: url(image/S3.jpg);
    background-size: cover;
    background-position: center;
}
.evento{
    background-image: url(image/S4.jpg);
    background-size: cover;
    background-position: center;
}


/* ------ ENCABEZADOS DE PAGINA ------ */

#encabezado2 .tituloPortada{
    position: absolute;
    top: 300px;
    left: 500px;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
}

 #encabezado2 {
    background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0)), url(image/P2.jpg);
    background-position: center;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 650px;
    position: relative;
 }
.textoHeader{
    position: absolute;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    font-size: 6em;
    text-align: center;
    top: 250px;
    left: 300px;
    animation-duration: 2.5s;
    animation-name: aparecer;
}
@keyframes aparecer{
    100%{
        opacity: 100%;
    }
    0%{
        opacity: 0%;
    }
}

.row{
    justify-content: space-evenly;
}
.card-img-top{
    height: auto;
    width: auto;
    justify-content: center;
}
.col{
    width: 300px;
    justify-content: center;
}







/* GRID SECCION SERVICIOS*/

#galeriaGrid {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}
.galleryItem{
    min-width: 200px;
    min-height: 300px;
    background-color: gray;
}
.galleryImg1{
    background-color: gray;
    background-image: url( image/Galeriah2-min.jpg);
    background-size: cover;
    background-position: center;
    grid-column-start: 1;
    grid-column-end: 3;
}
.galleryImg2{
    background-color: gray;
    background-image: url(image/Galeriah5-min.jpg);
    background-size: cover;
    background-position: center;
    grid-column-start: 3;
    grid-column-end: 4;
}
.galleryImg3{
    background-color: gray;
    background-image: url(image/Galeriah3-min.jpg);
    background-size: cover;
    background-position: center; 
}
.galleryImg4{
    background-color: gray;
    background-image: url(image/Galeriah7-min.jpg);
    background-size: cover;
    background-position: center;
}
.galleryImg5{
    background-color: gray;
    background-image: url(image/Galeriav1-min.jpg);
    background-size: cover;
    background-position: center;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}
.galleryImg6{
    background-color: gray;
    background-image: url(image/Galeriav3-min.jpg);
    background-size: cover;
    background-position: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
}
.galleryImg7{
    background-color: gray;
    background-image: url(image/Galeriav2-min.jpg);
    background-size: cover;
    background-position: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
.galleryImg8{
    background-color: gray;
    background-image: url(image/Galeriah7-min.jpg);
    background-size: cover;
    background-position: center;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}
.galleryItem:hover{
    transform: scale(1.1);
    transition: 0.8s;
    filter: grayscale(0.5);
    
}

/* -------- SECCION PRODUCTOS --------- */
.card-title{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.25em;
    text-align: center;
    letter-spacing: 2px;
}
.text-card{
    background-color: rgba(0,0,0,0.3);
    color: white;
    font-size: 1.1em;
    text-align: center;
    align-items: center;
    padding-top: 20px;


}
.card-img.overlay{
    filter: grayscale(0.8);

}

/* ----- SECCION CONTACTOS -----*/
#flexContacto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}
.contacto{
    flex-basis: 550px;
    padding-bottom: 20px;

}

/* ------ FOOTER -------*/

.footer {
    background-color: black;
    color: white;
    padding: 20px 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    }
    
.footer-columna{
    flex-direction: row;
    padding-left: 10px;
    }
.footer-columna__titulo{
    font-size: 1.5em;
    font-family: 'Bebas Neue', sans-serif;
    border-left: 1px solid #dd0443;;
    padding-left: 5px;
    }
 .footer-columna__redes{
     display: block;
 }
.footer__link{
    text-decoration: none;
    }  
.footer-item__link{
    display: block;
    padding: 10px 10px;
    text-decoration: none;
    color: white;
}  
.footer__link:visited{
    color: white;
}
.footer__li{
    list-style: none;
    text-decoration: none;
}
.footer__li--cp{
    list-style: none;
    text-decoration: none;
    padding: 10px 0px;
}

.footer__iconos{
    width: 25px;
    height: 25px;
}
